<section id="feed_form">
  <form method="get" action="/feeds">
    <label for="twitter_toggle">Twitter</label>
    <input type="checkbox" name="twitter_toggle" id="twitter_toggle">
    <label for="times_toggle">New York Times</label>
    <input type="checkbox" name="times_toggle" id="times_toggle">
    <label for="graph_toggle">Google Trending</label>
    <input type="checkbox" name="graph_toggle" id="graph_toggle">
    <input type="submit">
  </form>
</section>
