<section id="feed_form">
  <form method="post" action="/feeds">
    <label for="twitter_toggle">Twitter</label>
    <% if TWITTER_TOGGLE == false %>
    <input type="checkbox" name="twitter_toggle" id="twitter_toggle" value=true />
    <% else %>
    <input type="checkbox" name="twitter_toggle" id="twitter_toggle" value=true checked />
    <% end %>
    <label for="times_toggle">New York Times</label>
    <% if TIMES_TOGGLE == false %>
    <input type="checkbox" name="times_toggle" id="times_toggle" value=true />
     <% else %>
    <input type="checkbox" name="times_toggle" id="times_toggle" value=true checked />
    <% end %>
    <label for="graph_toggle">Google Trending</label>
    <% if GRAPH_TOGGLE == false %>
    <input type="checkbox" name="graph_toggle" id="graph_toggle" value=true />
    <% else %>
    <input type="checkbox" name="graph_toggle" id="graph_toggle" value=true checked/>
    <% end %>
    <input type="submit" />
  </form>
</section>
