<section id="feed_form">
  <form method="get" action="/feeds">
    <label for="twitter">Twitter</label>
    <input type="checkbox" name="twitter" id="twitter">
    <label for="times_feed">New York Times</label>
    <input type="checkbox" name="times_feed" id="times_feed">
    <label for="graph">Google Trending</label>
    <input type="checkbox" name="graph" id="graph">
    <input type="submit">
  </form>
</section>
