

<% if @obscure %>
<h1>Congratulations! You are too cool for school! (Your obsession is too obscure. Try again.) </h1>
<% elsif @edit %>
<h1> Hello <%= $redis.get(:username).capitalize %>, your obsession is <%= $redis.get(:obsession).capitalize %>. </h1>
<% else %>
<h1> Hello! </h1>
<% end %>

</br></br>

<section id="form">
  <form method="post" action="/feeds">
    <% if @edit %>
    <input type="hidden" name="username" id="username" value="<%= $redis.get("username") %>" />
    <input type="hidden" name="obsession" id="obsession" value="<%= $redis.get("obsession") %>" />
    <% else %>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
    </br>
    <label for="obsession">Pick your obsession.</label>
    <input type="text" name="obsession" id="obsession" />
    <% end %>

    </br></br></br></br>

    <h1>Which feeds would you like to see?</h1>

    </br></br></br>

    <label for="twitter_toggle">Twitter</label>
    <% if $redis.exists(:twitter_toggle) %>
      <input type="checkbox" name="twitter_toggle" id="twitter_toggle" value=true checked />
    <% else %>
      <input type="checkbox" name="twitter_toggle" id="twitter_toggle" value=true />
    <% end %>
    </br></br>
      <label for="times_toggle">New York Times</label>
    <% if $redis.exists(:times_toggle) %>
      <input type="checkbox" name="times_toggle" id="times_toggle" value=true checked/>
    <% else %>
    <input type="checkbox" name="times_toggle" id="times_toggle" value=true />
    <% end %>
    </br></br>
      <label for="graph_toggle">Google Trending</label>
    <% if $redis.exists(:graph_toggle) %>
      <input type="checkbox" name="graph_toggle" id="graph_toggle" value=true checked/>
    <% else %>
      <input type="checkbox" name="graph_toggle" id="graph_toggle" value=true />
    <% end %>
    </br></br>
    <label for="weather_toggle">Weather</label>
    <% if $redis.exists(:weather_toggle) %>
      <input type="checkbox" name="weather_toggle" id="weather_toggle" value=true checked/>
    <% else %>
      <input type="checkbox" name="weather_toggle" id="weather_toggle" value=true />
    <% end %>
    </br></br>

    <label for="city">City</label>
    <input type="text" name="city" id="city" />
    <label for="state">State</label>
    <input type="text" name="state" id="state" />
  </br></br>
    <input type="submit" id="submit" />
  </form>
</section>

