<h1>Hello World! This is the profile page!</h1>

<section id="form">

  <form method="get" action="/dashboard">
    <label for="obsession">What are you obsessed with?</label>
    <input type="text" name="obsession" id="obsession" />
    <input type="submit" />
  </form>
</section>
