h1 {
  font-family: 'IM Fell English', serif;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  color: #E3E3E3;
}
form {
  text-align: center;
}
section {
  text-align: center;
}
p {
  color: #E3E3E3;
}
a {
  color: #E3E3E3;
}
label {
 color: #E3E3E3;
}
body {
  background: url(http://i.imgur.com/uUWkNRX.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
