h1 {
  font-family: 'IM Fell English', serif;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  font-color: white;
}
form {
  text-align: center;
}
section {
  text-align: center;
}

body {
  background: url(http://i.imgur.com/uUWkNRX.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
