h1 {
  font-family: 'IM Fell English', serif;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  color: #E3E3E3;
}
#form {
  text-align: center;
  color: #E3E3E3;
}
a:link {
  color: #8B8C89;
}
a:visited {
  color: #8B8C89;
}
body {
  background: url(http://i.imgur.com/B3DUhCm.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#times {
  text-align: center;
  color: #E3E3E3
}
#twitter {
  text-align: center;
  color: #E3E3E3
}
#weather {
  text-align: center;
  color: #E3E3E3
}
#trending {
  text-align: center;
  background-color: rgba(161 160 163 .7);
}
