<section id="times">
  <h1>Relevant News Articles</h1>
  <p>
    <a href="<%= $redis[:times_article_url] %>" ><%= $redis[:times_headline] %></a>
     </br>
     <%= $redis[:times_snippet] %>
     <a href='/feeds/times'>The Times</a>
  </p>
</section>
