<section id="times">
  <h1>Relevant News Articles</h1>
  <p>
    <a href="<%= session[:times_article_url] %>" ><%= session[:times_headline] %></a>
     </br>
     <%= session[:times_snippet] %>
     <a href='/feeds/times'>The Times</a>
  </p>
</section>
